<section class="sign-up-container p-0 m-0">
  <div class="sign-up-subcontainer">
    <div class="p-0 m-0 d-flex align-items-center justify-content-center form">
      <mat-card class="sign-up-card">
        <mat-card-header>
          <mat-card-title class="sign-up-title"
            >Integrated Self-help-group Management Application</mat-card-title
          >
          <mat-card-subtitle>Create a new account</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form class="sign-up-form" [formGroup]="signUpForm">
            <mat-form-field class="sign-up-full-width">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                formControlName="email"
                [errorStateMatcher]="matcher"
                placeholder="Ex. john@example.com"
              />
              <mat-error
                *ngIf="email?.hasError('email') && !email?.hasError('required')"
              >
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="email?.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="sign-up-full-width">
              <mat-label>Phone Number</mat-label>
              <input
                type="phone"
                matInput
                formControlName="phone"
                [errorStateMatcher]="matcher"
                placeholder="Ex. +241 123 478 90"
              />
              <mat-error
                *ngIf="phone?.hasError('email') && !phone?.hasError('required')"
              >
                Please enter a valid phone number
              </mat-error>
              <mat-error *ngIf="phone?.hasError('required')">
                Phone number is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="sign-up-full-width">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                formControlName="password"
                [errorStateMatcher]="matcher"
                placeholder="Ex. john@example.com"
              />
              <mat-error
                *ngIf="
                  password?.hasError('email') && !password?.hasError('required')
                "
              >
                Please enter a valid password
              </mat-error>
              <mat-error *ngIf="password?.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="sign-up-full-width">
              <mat-label>Confirm Password</mat-label>
              <input
                type="password"
                matInput
                formControlName="confirmPassword"
                [errorStateMatcher]="matcher"
                placeholder="Ex. john@example.com"
              />
              <mat-error
                *ngIf="
                  confirmPassword?.hasError('email') &&
                  !confirmPassword?.hasError('required')
                "
              >
                Please enter a valid password
              </mat-error>
              <mat-error *ngIf="confirmPassword?.hasError('required')">
                Confirm Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button class="sign-up-full-width">SIGN UP</button>
        </mat-card-actions>
        <mat-card-footer>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</section>
