.sign-up-container{
  background: url(../../../../assets/auth.jpg);
  background-color: #cccccc;
  min-height: 100vh;
}
.sign-up-card {
  width: 35vw;
}

.sign-up-form {
  min-width: 150px;
  width: 100%;
}

.sign-up-full-width {
  width: 100%;
}